
.bg-dark {
    background-color: rgb(56, 56, 56);
}

.text-white {
    color: white;
    font-weight: 700;
}

.img-class {
    padding: 10px;
    border-radius: 20px;
    width: calc( 100% - 20px);
}

.btn-style button, .btn-style div {
    color: white;
    border-color: white;
}